# Replace the credentials here with your own.
# Rename this file to .env before running 'npm start'.

API_KEY=<oB0xLoyQm8rINJFTRgcebN5QIWaa7UNPTzhJcjr3vOM>
DEPLOYMENT_URL=<https://us-south.ml.cloud.ibm.com/ml/v4/deployments/0ceee6f3-60a6-4cd8-b1f4-2a43248485e8/predictions?version=2021-05-01>
